footer {
    height: 50vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

footer p {
    font-size: 1.1rem;
}

footer div a {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    color: #222;
    background-color: white;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    margin: 1rem;
    padding: 10px;
    transition: all 0.5s;
}

.end-tag {
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 20px;
    margin: 0;
}

#linkedin:hover {
    background-color: #0077B5;
}

#mail:hover {
    background-color: #dd4b39;
}

#github:hover {
    background-color: #000000;
    
}

a:hover {
    color: white;
}