@media only screen and (max-width: 600px) {
    footer {
        height: auto;
        padding: 0 1rem 0 1rem;
    }
    
    footer p {
        font-size: .9rem;
        text-align: center;
        margin-bottom: 0;
    }
    
    .end-tag {
        font-size: 1.625rem;
        letter-spacing: 15px;
        text-align: center;
        margin: 0 auto 2rem auto;
    }
}